:root {
  --color-primary: #1c1c1d;
  --color-secondary: rgb(131, 128, 128);
  --color-secondary-light: rgb(255, 254, 254);
}
body {
  background-color: rgb(250, 245, 245);
}
.main {
  width: 600px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: white;
  margin-top: 25px;
  border-radius: 5px;
  height: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.form {
  padding: 25px;
}
.header {
  margin-bottom: 25px;
  font-weight: 600;
  font-family: sans-serif Arial, Helvetica, sans-serif;
  color: #1c1c1d;
}
.search {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0;
  color: var(--color-secondary);
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px rgb(228, 222, 222);
}

button i {
  color: var(--color-secondary);
}
button i:hover {
  color: rgb(194, 186, 186);
  transition: 0.7s;
}
.search-btn:hover {
  border: solid 1px rgb(255, 254, 254);
  background-color: var(--color-secondary-light);
}
.names-list {
  margin-top: 30px;
}
.list-item-wrapper {
  margin-bottom: 5px;
  border-radius: 5px;
}
.list-item-wrapper:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: scale(1.01);
  color: #1c1c1d;
}
.item-name {
  color: var(--color-secondary);
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox span {
  border: 1px solid #7e8a94;
  float: right;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-checkbox:hover span,
.custom-checkbox input:checked + span {
  border: 1px solid rgb(27, 204, 27);
}

.custom-checkbox input:checked + span:before {
  content: "✔";
  font-size: 5px;
  color: rgb(27, 204, 27);
  transition: all 0.2s;
}

.form-footer {
  float: right;
  padding: 20px;
  margin-right: 20px;
}
.form-footer button {
  font-weight: 600;
  font-family: sans-serif;
  min-width: 150px;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  margin-left: 20px;
}
.save-btn {
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: none;
  text-transform: uppercase;
}
.save-btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: none;
  background-position: right center;
  background-image: linear-gradient(
    to right,
    #0dbfe7 0%,
    #3167b3 51%,
    #0aabcf 100%
  );
}
.cancel-btn {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: solid 1px rgb(187, 183, 183);
  background: white;
  color: var(--color-secondary);
}
.cancel-btn:hover {
  background-color: rgb(250, 250, 250);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
  /* background-color:rgb(226, 220, 220) ;
  color: white; */
}
.esc {
  border: none;
  outline: none;
  color: var(--color-secondary);
  background-color: white;
  width: 30px;
  height: 30px;
  font-size: 25px;
}
.esc:hover {
  color: rgb(199, 184, 184);
}
.esc-btn {
  float: right;
}
